:root {
  --aspect-ratio: 1920 / 1080;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  cursor: url("./default.png"), default;
  background-color: rgb(20, 80, 87);
}
body {
  display: grid;
  place-content: center;
  overflow: hidden;
}

#canvas {
  aspect-ratio: var(--aspect-ratio);
  width: 100%;
}

/*****************************************/
/*****************************************/
/*****************************************/
