#input-task {
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 100%;
  font-family: inherit;
  font-size: 2.2rem;
  background-color: transparent;
  border-bottom: 1px solid rgb(42, 42, 42);
}

#input-task:focus {
  border-bottom: 1px solid rgb(0, 0, 0);
}

#input-cont {
  margin-top: 2.4rem;
  gap: 2.4rem;
  display: flex;
  align-items: center;
}
#input-cont img {
  width: 2.6rem;
  height: auto;
  object-fit: contain;
}

#input-cont img:hover {
  cursor: url("./click.png"), default;
}

#task-manager-container ul {
  margin-top: 3.2rem;
  padding: 0rem 1rem;
}

#task-manager-container ul li {
  display: flex;
  gap: 1.2rem;
  margin-top: 1rem;
  justify-content: space-between;
}
button:hover {
  filter: invert(90%);
}

button {
  transition: all 0.2s ease-in-out;
}

#task-manager-container .buttons {
  gap: 1rem;
  display: flex;
  align-items: center;
}

#error-message {
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(54, 12, 12);
  width: max-content;
}
