#input-task {
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 100%;
  font-family: inherit;
  font-size: 2.2rem;
  background-color: transparent;
  border-bottom: 1px solid rgb(42, 42, 42);
}

#input-task:focus {
  border-bottom: 1px solid rgb(0, 0, 0);
}

#input-cont {
  margin-top: 2.4rem;
  gap: 2.4rem;
  display: flex;
  align-items: center;
}
#input-cont img {
  width: 2.6rem;
  height: auto;
  object-fit: contain;
}

#input-cont img:hover {
  cursor: url("./click.png"), default;
}
